/* font-family: 'Montserrat', sans-serif; */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style-type: none;
}

.main, .header, .footer, .stock {
    width: 63.56%;
}

.header-wrapper {
    background-color: #d6d8d9;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: 750px;
    background-position: 100% -40%;
}

.tagline h1 {
    font-size: 80px;
    padding: 1.5em 0 0.5em;
    line-height: .7em;
    font-family: 'Montserrat', sans-serif;
    color: #373739;
}

.tagline span {
    font-size: 45px;
    font-weight: normal;
}

.btn {
    width: 170px;
    height: 60px;
    border-radius: 50px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    background-color: #3285cc;
    color: #fff;
    border: 0;
    cursor: pointer;
    transition: .5s ease;
}

.btn:hover {
    filter: brightness(0.8);
}

.advantage {
    padding: 3em 0 4em;
    display: grid;
    grid-template-columns: 250px 250px;
    grid-column-gap: 2em;
    grid-row-gap: 2em;
}

.advantage li {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    color: #373739;
}

.advantage img {
    width: 70px;
    padding-right: 5px;
}

.heading {
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    color: #373739;
    padding: 1.5em 0;
}

.card {
    position: relative;
}

.goods-name {
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: bold;
    padding-top: 10px;
}

.goods-size {
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #373739;
    padding: 0.3em 0 1em;
}

.goods-price {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    color: #000000;
    font-weight: bolder;
}

.card-btn {
    width: 120px;
    height: 35px;
    font-size: 18px;
    margin: 1.5em 0;
}

.cards {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-column-gap: 8.4em;
    grid-row-gap: 3em;
}

.card img {
    width: 300px;
    height: 190px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px; 
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-back {
    background-color: #3285cc;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    padding: 2em 1em;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6em;
}

.payment-and-delivery h3 {
    font-size: 28px;
    font-family: 'Montserrat', sans-serif;
    color: #373739;
    padding: 2em 0;
}

.pay-del-ul {
    display: flex;
    flex-direction: row;
    padding-bottom: 3em;
}

.pay-del-ul li {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    color: #373739;
    width: 200px;
    text-align: center;
}

.pay-del-ul img {
    width: 50px;
    margin-bottom: 15px;
}

.footer-wrapper {
    background-color: #373739;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2em 0 1.5em;
}

.logo {
    flex: 1;
}

.contact {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    color: rgb(185, 184, 184);
    display: flex;
    justify-content: space-around;
    line-height: 2em;
    flex: 3;
}

.contact a {
    color: #fff;
    text-decoration: none;
}

.soc {
    display: flex;
    flex: 1;
}

.soc img {
    width: 38px;
}

.stock-wrapper {
    background-color: #3285cc;
    height: 400px;
	position: relative;
	overflow: hidden;
    display: flex;
}

.stock {
    position: absolute;
	background-image: url(../img/truck.png);
	background-repeat: no-repeat;
    background-position-x: 90%;
    background-position-y: 110%;
	width: 110%;
	height: 110%;
	transition: all 0.1s ease;

}

.stock-btn {
    background-color: #fbac3b;
    color: #373739;
    width: 220px;
    height: 80px;
    cursor: pointer;
    position: absolute;
    z-index: 99;
}

.stock-wrapper h3 {
    font-size: 44px;
    font-family: 'Montserrat', sans-serif;
    color: #373739;
    line-height: 1em;
    margin-bottom: 1.5em;
}

.stock-text {
    width: 63.56%;
    padding: 3em 0;
}

.stock span {
    font-size: 22px;
}

@media only screen and (max-device-width : 428px) {
    * {
        overflow-x: hidden;
    }
    
    .main, .header, .footer, .stock {
        max-width: 320px;
        width: 100%;
        padding-left: 7px;
    }

    .header-wrapper {
        background-size: 180px;
        background-position: 110% 40px;
    }

    .tagline h1 {
        font-size: 32px;
        padding: 0.5em 0;
    }

    .tagline span {
        font-size: 16px;
        position: relative;
    }

    .tagline span::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #fbac3b;
        bottom: -4px;
        left: 0;
    }

    .btn {
        width: 110px;
        height: 40px;
        font-size: 16px;
    }

    .advantage {
        padding: 5em 0 3em;
        grid-template-columns: auto;
        grid-row-gap: 1.2em;
    }

    .advantage li {
        font-size: 16px;
        justify-content: flex-start;
        margin: 0;
    }

    .advantage img {
        max-width: 40px;
        margin: 0;
        margin-right: 5px;
    }

    .heading {
        font-size: 28px;
        padding: .5em 0;
    }

    .cards {
        grid-template-columns: auto;
        padding-bottom: 2em;
    }

    .card img {
        width: 250px;
        height: 180px;
    }

    .goods-name {
        padding-top: 0;
    }

    .goods-price {
        display: inline-block;
    }

    .card-btn {
        margin: 0em 50px 1em;
        display: inline-block;
        vertical-align: middle;
    }

    .stock {
        background-size: 270px;
        ;
        background-position: 110% 90%;
        width: 100%;
        max-width: 100%;
        }

    .stock-text {
        width: 100%;
        max-width: 320px;
    }

    .stock-text h3 {
        font-size: 30px;
        overflow-y: hidden;
        padding-left: 3px;
        margin-bottom: .7em;
    }

    .stock-text span {
        font-size: 14px;
        position: relative;
    }

    .stock-text span::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 1px;
        border-bottom: 1px solid #fbac3b;
        bottom: -4px;
        left: 0;
    }

    .pay-del-ul li {
        line-height: 1.5em;
        font-size: 12px;
    }

    .pay-del-ul img {
        width: 40px;
    }

    .footer {
        flex-direction: column-reverse;
        padding: 1em 0;
    }

    .soc {
        width: 100%;
    }

    .logo {
        display: flex;
    }

    .contact {
        font-size: 14px;
        width: 100%;
        text-align: center;
        margin: .5em 0 .5em 0;
    }

    .logo img {
        width: 60px;
    }

}